<%= form_with(model: user, local: true) do |form| %>

  <%= render "shared/errors", obj: @user %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-６">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :full_name, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-6">
      <%= form.text_field :full_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :email, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-6">
      <%= form.email_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :sex, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-6">
      <%= form.radio_button :sex, 1 %>
      <%= form.label :sex_1 %>
      <%= form.radio_button :sex, 2 %>
      <%= form.label :sex_2 %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :password, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-６">
      <%= form.password_field :password, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :password_confirmation, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-6">
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :管理者, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-6">
      <%= form.check_box :administrator %>
      <%= form.label :administrator, "管理者" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit("保存", class: 'btn btn-primary btn-lg my-1 mb-5 px-3') %>
  </div>
<% end %>