<p id="notice"><%= notice %></p>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="height: 450px;">
        <div class="carousel-item active">
            <%= image_tag 'football-3471402_1280.jpg' %>
        </div>
        <div class="carousel-item">
            <%= image_tag 'freerider-498473_1280.jpg' %>
        </div>
        <div class="carousel-item">
            <%= image_tag 'quarterback-67701_1280.jpg' %>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h1 class="label">イベント一覧</h1>

<div><%= link_to '企画の新規作成', new_event_path %></div>

<table class="table">
    <tr>
        <th>競技</th>
        <th>予定日</th>
        <th>試合チーム</th>
        <th>場所</th>
        <th>募集人数</th>
        <th></th>
    </tr>
        <% @events.each do |event| %>
    <tr>
        <td><%= event.competition %></td>
        <td><%= event.scheduled_date %></td>
        <td><%= event.match_team %></td>
        <td><%= event.place %></td>
        <td><%= event.number_applicants %></td>
        <td><%= link_to '詳細', event %></td>
    </tr>
        <% end %>
</table>
