<p id="notice"><%= notice %></p>
<!--スライドショー開始-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="height: 450px;">
        <% @homeEvents.each_with_index do |event, i| %>
            <% if i == 0 %>
                <div class="carousel-item active">
                    <%= image_tag event.image.to_s %>
                </div>
            <% else %>
                <div class="carousel-item">
                    <%= image_tag event.image.to_s %>
                </div>
            <% end %>
        <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--スライドショー終了-->

<!--検索フォーム開始-->
<%= form_with url:'/search_event', method: :get, local: true, class: 'form-inline searcForm' do |f| %>
    <div class="col-2"></div>
    <div class="col-8">
        <%= f.text_field :search_key, :class => 'form-control mr-sm-2', :id => 'inputBox', :placeholder => '競技や試合チーム、場所などを入力してください' %>
        <%= f.submit '検索', :class => 'btn btn-outline-success my-2 my-sm-0', :id => 'searchButton' %>
    </div>
    <div class="col-2"></div>
<% end %>
<hr>
<!--検索フォーム終了-->

<!--おすすめイベント開始-->
<h1 class="label" id="recommendEvent">おすすめのイベント</h1>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <% @recomemdEvents.each do |event| %>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <%= image_tag event.image.to_s, :height =>'220' %>
                        <div class="card-body">
                            <h4 class="card-title"><%= event.competition %></h4>
                            <p class="card-text" id="card-text"><label>試合チーム：</label><%= event.match_team %></p>
                            <p class="card-text" id="card-text"><label>予定日：</label><%= event.scheduled_date %></p>
                            <p class="card-text" id="card-text"><label>場所：</label><%= event.place %></p>
                            <%= link_to '詳細を見る', event, :class => 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<!--おすすめイベント終了-->

<!--フッター開始-->
<!--フッター終了-->
